# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment & Helm Secrets
.env
.env.local
.app.env
.worker.env
helm/**/values-secrets.yaml
values-secrets.yaml

# Test
test-page/

# Word reports
reports/