AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

QUEUE_URL=
DOWNLOAD_DIR=
MODEL_NAME=
TEXT_MODEL_NAME=paraphrase-multilingual-mpnet-base-v2

BACKEND_CREATE_EMBEDDING_URL=
BACKEND_GET_VIDEO_URL=
API_KEY=
BACKEND_UPDATE_STATUS_URL=

NEED_HLS=False
USE_EXTERNAL_HLS=False
EXTERNAL_HLS_URL=your-hls-service.example.com