# Create .env file and copy this content to it, put .env file in the same folder as docker-compose.worker.yml.

AWS_DEFAULT_REGION=

QUEUE_URL=
DOWNLOAD_DIR=./videos
MODEL_NAME=MCG-NJU/videomae-base-finetuned-kinetics

BACKEND_CREATE_EMBEDDING_URL=https://snapfeed.work.gd/api/v1/video-embeddings
API_KEY=